<h3>Fill in the form to complete Sign up</h3>
<div>
    <form>
       <label for="fname"> User Name:</label><br>
       <input [(ngModel)]="username" type="text" id="username" name="username" required><br>
       <label for="email">Email Address:</label><br>
       <input [(ngModel)]="email" type="text" id="email" name="email" required><br>
       <label for="passsword">Passsword:</label><br>
       <input [(ngModel)]="password" type="text" id="password" name="password" required><br>
        <button
          (click)="captureDetails()"
        >
        Submit</button>
    </form>
</div>